[submodule "reloaded-tools"]
	path = reloaded-tools
	url = file:///home/stefan/development/public-release-reloaded/reloaded-tools
[submodule "releases"]
	path = releases
	url = file:///home/stefan/development/public-release-reloaded/releases
[submodule "vendor"]
	path = vendor
	url = file:///home/stefan/development/public-release-reloaded/vendor
[submodule "dependencies/github"]
	path = dependencies/github
	url = https://github.com/smuenzel/ocaml-github.git
	branch = async-port
