[submodule "reloaded-tools"]
	path = reloaded-tools
	url = https://github.com/public-release-reloaded-engineering/reloaded-tools.git
  branch = master
[submodule "releases"]
	path = releases
	url = https://github.com/public-release-reloaded-engineering/releases.git
  branch = v0.18_preview.130.100+614
[submodule "vendor"]
	path = vendor
	url = https://github.com/public-release-reloaded-engineering/vendor.git
  branch = master
[submodule "dependencies/github"]
	path = dependencies/github
	url = https://github.com/smuenzel/ocaml-github.git
	branch = async-port
[submodule "opam-repository"]
	path = opam-repository
	url = https://github.com/public-release-reloaded/opam-repository.git
